* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #16142B 20%, #100F1F, #16142B 20%);
}

::-webkit-scrollbar {
    width: 9px;
    background: #16142B;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #16142B;
}
    
::-webkit-scrollbar-thumb {
    background: #AAAAAA;
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b; 
}